In [156]:
#libraries
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [162]:
#Load dataset
dataset = pd.read_csv('customer_churn_dataset_10000.csv')
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,36,9,75545.78,3,0,1,102407.92,0
1,659,54,5,146329.55,4,0,0,145672.18,0
2,437,39,2,36866.73,1,0,1,169330.69,0
3,805,49,7,59527.03,1,1,1,123704.11,0
4,735,58,2,42917.82,2,0,0,77518.87,1

In [164]:
#Check is there any null value
dataset.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [166]:
X = dataset.iloc[:, :-1]   # all features
y = dataset.iloc[:, -1]    # only last column (labels)

In [168]:
y = y.values.reshape(-1, 1)

In [170]:
#Scalling of data

ss = StandardScaler()
input_data = pd.DataFrame(ss.fit_transform(input_data), columns = input_data.columns)
input_data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.056608,-0.377436,1.462972,-0.472352,0.473206,-0.924632,1.062980,-0.132003
1,0.337459,0.968975,0.171535,0.740119,1.335147,-0.924632,-0.940752,0.685194
2,-1.221261,-0.153035,-0.797043,-1.134894,-1.250677,-0.924632,1.062980,1.132069
3,1.362563,0.594972,0.817254,-0.746741,-1.250677,1.081512,1.062980,0.270250
4,0.871075,1.268177,-0.797043,-1.031244,-0.388735,-0.924632,-0.940752,-0.602121
...,...,...,...,...,...,...,...,...
9995,-1.481048,-1.275044,-1.442761,-1.713962,1.335147,1.081512,1.062980,0.712227
9996,-1.396793,1.118576,0.171535,-0.407526,-0.388735,1.081512,1.062980,-1.208781
9997,-1.467006,-0.826240,-0.474183,-0.827844,-0.388735,-0.924632,1.062980,0.195041
9998,-1.495091,-1.499446,-0.797043,1.589259,-1.250677,-0.924632,1.062980,-0.179345
9999,0.021502,-1.723847,-0.151324,0.465493,-1.250677,-0.924632,-0.940752,0.059724

In [172]:
input_data.shape

(10000, 8)

In [174]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [176]:
x_train.shape

(8000, 8)

In [178]:
x_test.shape

(2000, 8)

In [180]:
x_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6252,737,41,6,83589.21,1,0,0,199561.60
4684,663,59,8,24032.93,3,0,0,140068.59
1731,351,58,0,193516.11,4,0,0,152956.59
4742,402,30,3,54792.23,2,0,1,119722.39
4521,676,36,5,193730.39,1,0,1,24691.00
...,...,...,...,...,...,...,...,...
6412,769,32,0,69667.32,4,1,1,104130.49
8285,751,19,7,116108.80,2,1,1,29554.05
7853,384,59,0,52138.91,4,1,0,141806.35
1095,364,53,6,11174.23,4,0,0,133759.77
6929,414,43,1,109183.15,2,0,0,81142.72

In [182]:
import tensorflow
from keras.layers import Dense
from keras.models import Sequential

In [184]:
ann = Sequential()

ann.add(Dense(6, input_dim=8, activation="relu"))
ann.add(Dense(4, activation="relu"))
ann.add(Dense(2, activation="relu"))
ann.add(Dense(1, activation="sigmoid"))

C:\Users\Muzamil Hussain\AppData\Local\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [186]:
ann.compile(optimizer="adam", loss="binary_crossentropy", metrics=['accuracy'])

In [188]:
ann.fit(x_train, y_train, batch_size=100, epochs=50)

Epoch 1/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5027 - loss: 1039.1770
Epoch 2/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4965 - loss: 79.8495
Epoch 3/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4946 - loss: 8.9210
Epoch 4/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4976 - loss: 6.0513
Epoch 5/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5042 - loss: 4.9919
Epoch 6/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5009 - loss: 4.2309
Epoch 7/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4999 - loss: 3.9544
Epoch 8/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4929 - loss: 6.9564
Epoch 9/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4992 - loss: 2.9421
Epoch 10/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4985 - loss: 3.6814
Epoch 11/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5001 - loss: 4.2953
Epoch 12/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4947 - loss: 3.7815
Epoch 13/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4901 - loss: 2.8906
Epoch 14/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4988 - loss: 5.0024
Epoch 15/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4938 - loss: 3.7267
Epoch 16/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4889 - loss: 3.1618
Epoch 17/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4925 - loss: 6.5975
Epoch 18/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4905 - loss: 4.5560
Epoch 19/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4966 - loss: 3.4467
Epoch 20/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5040 - loss: 4.1817
Epoch 21/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5069 - loss: 5.6249
Epoch 22/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5044 - loss: 3.7438
Epoch 23/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.5050 - loss: 2.7977
Epoch 24/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5045 - loss: 4.8219
Epoch 25/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5104 - loss: 3.4550
Epoch 26/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5006 - loss: 2.8660
Epoch 27/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5060 - loss: 3.8228
Epoch 28/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5120 - loss: 4.1128
Epoch 29/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5089 - loss: 3.0356
Epoch 30/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4999 - loss: 2.7778
Epoch 31/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5033 - loss: 2.3475
Epoch 32/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4983 - loss: 3.8784
Epoch 33/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4960 - loss: 3.7379
Epoch 34/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5055 - loss: 2.2261
Epoch 35/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5084 - loss: 2.6933
Epoch 36/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5060 - loss: 3.1152
Epoch 37/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5139 - loss: 2.1114
Epoch 38/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5130 - loss: 3.6235
Epoch 39/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5079 - loss: 4.1092
Epoch 40/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5206 - loss: 2.2112
Epoch 41/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5135 - loss: 2.4049
Epoch 42/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5138 - loss: 2.4000
Epoch 43/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5089 - loss: 2.6648
Epoch 44/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5186 - loss: 3.7641
Epoch 45/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5182 - loss: 4.4403
Epoch 46/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5276 - loss: 3.0960
Epoch 47/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5230 - loss: 3.2988
Epoch 48/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.5229 - loss: 2.7223
Epoch 49/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.5279 - loss: 3.7939
Epoch 50/50
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5175 - loss: 2.7459

In [190]:
prd1 = ann.predict(x_train)
prd1
prd_data1 = []
for i in prd:
    if i[0] > 0.5:
        prd_data1.append(1)
    else: 
        prd_data1.append(0)

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

In [192]:
prd = ann.predict(x_test)
prd
prd_data = []
for i in prd:
    if i[0] > 0.5:
        prd_data.append(1)
    else: 
        prd_data.append(0)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

In [194]:
from sklearn.metrics import accuracy_score

In [196]:
accuracy_score(y_test, prd_data)*100

49.9

In [198]:
accuracy_score(y_test, prd_data1)*100

52.6

In [220]:
import numpy as np

sample = np.array([[-1.481048,-1.275044,-1.442761,-1.713962,1.335147,1.081512,1.062980,0.712227]])

prd = ann.predict(sample)

prd_data = []
for i in prd:
    if i[0] > 0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

prd_data

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 123ms/step

[0]

In [222]:
y_test

array([[1],
       [1],
       [0],
       ...,
       [0],
       [0],
       [1]], dtype=int64)